.item-inspector-panel {
  box-sizing: border-box;
  height: 100%;
  background-color: white;

  & > .tab-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    & > .tab-buttons {
      flex:0;
    }
    & > .tab-pages {
      flex:1;
      box-sizing: border-box;

      & > .tab-page {
        overflow: auto;
        box-sizing: border-box;
        height: 100%;
        padding:0
      }
    }
  }

  .issues-container {
    padding: 10px;

    ul {
      list-style: none;
      padding-left: 0;
    }

    li {
      margin-bottom: 10px;
      border-bottom: 1px solid #ccc;
    }

    .issue-context {
      font-size: 12px;
      background-color: #EEE;
      .level {
        font-family: monospace;
      }
      .name {
        font-weight: bold;
        margin-left: 3px;
      }
    }
  }

}