@import '~@kapeta/ui-web-components/styles/values';
@import '~@kapeta/ui-web-components/styles/functions';

.focus-toolbar {
    .transition(all 500ms);
    position: absolute;
    width: calc(100% - 300px);
    z-index: 1;
    top: 0;
    height: 34px;
    display: flex;
    flex-direction: row;
    opacity: 1;
    background-color: @bw-planner-background;
    border-bottom: 2px solid @bw-planner-background;

    &.client-block-focus {
        border-bottom: 2px solid @bw-orange;
    }

    .focus-toolbox-back {
        background-color: @gray;
        height: 100%;
        float: left;
        text-align: center;
        width: 28px;

        svg {
            padding-top: 13px;
            stroke-width: 2px;
        }
    }

    .focused-block-info {
        display: flex;
        height: 30px;

        p {
            vertical-align: middle;
            margin: auto;
            padding-top: 8px;
            display: flex;
            font-size: 10px;
            color: @gray-xdark;
            justify-content: center;
            padding-left: 5px;
        }

        padding-left: 30px;

        svg {
            padding-top: 8px;
            height: 20px;
        }
    }

    &.focus-toolbar-hidden {
        .transition();
        top: -30px;
        height: 0;
    }
}

.planner-area-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;

    .planner-area-position-parent {
        position: absolute;
        left: 0;
        right: 0px;
        top: 0;
        bottom: 0;
        overflow: hidden;
    }

    .focused-block-side-info {
        position: absolute;
        z-index: 10;
        right: 0;
        width: 300px;
        height: 100%;
    }

    .planner-zoom-buttons {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }

    .planner-temp-resource-item {
        position: absolute;
    }

    .planner-area-scroll {
        .transition(background 500ms);
        height: 100%;
        width: 100%;
        background-color: @bw-planner-background;

        &.focused-planner {
            background-color: @gray-background;

            .planner-connection {
                path.background {
                    stroke: @gray-background;
                }
            }
        }

        overflow: scroll;

        .planner-zoom-panel {
            background-color: #23423444;
            overflow: visible;
            position: relative;
            width: inherit;
            top: 0;
            left: 0;
            height: inherit;
            .transition();
        }

        .connection-hidden {
            opacity: 0;
        }
    }

    &.read-only {
        .planner-area-position-parent {
            height: 100%;
            width: 100%;
            max-height: 100%;
            max-width: 100%;
        }

        .focus-toolbar {
            width: 100%;
        }
    }
}

.planner-area-canvas {
    .no-select();
    .transition();
    background-color: @bw-planner-background;
    position: relative;
    transform-origin: 0px 0px;

    .planner-block {
        user-select: none;
        transition: all 200ms;
        opacity: 0;
        // Prevent blocking visible content w/ invisible blocks
        pointer-events: none;
    }

    .linked-block {
        .transition();
        opacity: 0.65;
        .block-body {
            cursor: pointer !important;
        }
    }

    .hovered-block {
        .transition();
        opacity: 1;
    }

    .planner-focused-block {
        transition: all 200ms;
        opacity: 1;
        .block-body {
            cursor: pointer !important;
        }
    }

    .planner-draw {
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
    }
}

.planner-canvas,
.planner-draw,
.planner-connections,
.planner-area-canvas,
.planner-block-node-container,
.planner-canvas svg,
.planner-area-canvas svg {
    overflow: visible;
}

.planner-block-node-container {
    .transition();
    opacity: 1;
    position: absolute;
    &.dragging {
        .transition(none);
    }
}
