@import '~@kapeta/ui-web-components/styles/values';
@import '~@kapeta/ui-web-components/styles/functions';

@kapeta-text-primary: #000000de;
@kapeta-block-bg: #ffffff;
@kapeta-block-outline: rgba(0, 0, 0, 0.12);

.block-node {
    overflow: visible;
    > svg {
        overflow: visible;
    }

    .instance_failed {
        fill: @error-main;
    }

    .instance_busy {
        fill: @warning-main;
    }

    .instance_stopped {
        fill: #0000003b;
    }

    .instance_stopping {
        fill: #0000003b;
        animation: blinker 1s linear infinite;
    }

    .instance_ready {
        fill: @success-main;
    }

    .instance_unhealthy {
        fill: @warning-main;
    }

    .instance_starting {
        fill: @success-main;
        animation: blinker 1s linear infinite;
    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }

    .block-body {
        .transition(fill 150ms);
        fill: @kapeta-block-bg;
        
    }

    .block-border {
        .transition(stroke 150ms);
        .transition(stroke-width 150ms);
        stroke: @kapeta-block-outline;
        stroke-width: 1.5;
    }

    .block-body-text {
        .pointer-event-none();
        .transition();
        font-family: inherit;
        text-anchor: middle;
        fill: @kapeta-text-primary;
        transform-origin: top left;

        &.instance-name {
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
        }

        &.block-name,
        &.block-version,
        &.block-handle {
            font-size: 10px;
            line-height: 14px;
        }

        &.block-name {
            font-size: 12px;
            line-height: 16px;
        }

        .edit {
            visibility: hidden;
        }

        .background {
            fill: rgba(255, 255, 255, 0);
        }
    }

    &.extension {
        .block-body {
            fill: @bw-extension-bg;
        }
    }

    &.operator {
        .block-body {
            fill: @bw-database-bg;
        }
    }

    &.highlight {
        .block-body {
            fill: @bw-orange-light;
        }
    }
}
