@import '~@kapeta/ui-web-components/styles/values';
@import '~@kapeta/ui-web-components/styles/functions';

.block-resource {
    position: relative;
    overflow: visible;
    stroke: transparent;
    stroke-width: 1;
    stroke-linecap: round;

    &:not(.read-only) {
        cursor: move;
    }

    .block-resource-body {
        fill: @bw-orange;
    }

    .block-resource-text {
        .no-select();
        stroke-width: 1;
        color: #ffffff;
        text-anchor: start;
        height: 18px;

        font-size: 12px;
        line-height: 18px;
        span {
            width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
        }
        &.sub {
            opacity: 0.7;
        }
    }

    &.database {
        .block-resource-body,
        .resource-counter .background {
            fill: @bw-green;
        }

        .block-resource-text {
            fill: @bw-green-light;
            &.sub {
                fill-opacity: 0.5;
            }
        }
    }

    &.extension {
        .block-resource-body,
        .resource-counter .background {
            fill: @bw-gray-light;
        }

        .block-resource-text {
            fill: @bw-gray;
            &.sub {
                fill-opacity: 0.5;
            }
        }
    }

    &.temporary {
        pointer-events: none;
    }
}
